<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Global Solution Microservice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </head>
  <body>
	<div class="container"><br>
	
	<h2 class="mb-5">Atualizar Ambiente</h2>
	
	<form class="col-5" th:action="@{/saveAmbiente}" th:object="${ambiente}" method="post">
	
		<input hidden="hidden" th:field="*{id}" />
		<div class="mb-3">
  			<label for="exampleFormControlInput1" class="form-label">Bairro</label>
  			<input type="text" th:field="*{bairro}" class="form-control">
		</div>
		<div class="mb-3">
  			<label for="exampleFormControlInput1" class="form-label">Cidade</label>
  			<input type="text" th:field="*{cidade}" class="form-control">
		</div>
		<div class="mb-3">
  			<label for="exampleFormControlInput1" class="form-label">Estado</label>
  			<input type="text" th:field="*{estado}" class="form-control">
		</div>
		<div class="mb-3">
  			<label for="exampleFormControlInput1" class="form-label">Temperatura</label>
  			<input type="number" th:field="*{temperatura}" class="form-control">
		</div>
		<div class="mb-3">
  			<label for="exampleFormControlInput1" class="form-label">Qualidade</label>
  			<input type="text" th:field="*{qualidade}" class="form-control">
		</div>
		
	
		<button type="submit" class="btn btn-success mb-3">Atualizar</button>
	</form>
	
	<a class="btn btn-primary" th:href="@{/ambiente}">Voltar para lista de ambientes</a>
	

	</div>
    
  </body>
</html>